
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  text-align: center;
  margin-bottom: 30px;
}

.header{
  width: 100%;
  height: 6rem;
  background-color: rgb(236, 77, 77);
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.logoBox{
display: flex;
align-items: center;
justify-content: center;

}
#logosvg{
  width: 100px;
  height: 100px;
  fill: rgb(255, 255, 255);

}
.title{
  color: #fff;
  text-align: center;
}
.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
  gap: 20px;
}
.navBtn{
  background-color: rgb(250, 250, 250);
  font-size:.8em;
  padding: 5px;
  border-radius: 7px;
  cursor: pointer;
  font-weight: 600;

}
.navBtn:hover{
  background-color: rgba(245, 15, 15, 0.644);
  padding: 5px;
  border-radius: 7px;
  cursor: pointer;
  color: #fff;
  width: 100%;
  font-weight: 700;
  border: 2px solid #fff;
  transition-duration: 500ms;
}

section{
  margin-top: 5%;
}

.tabela{
  margin: auto;
  width: 90%;
  color: #000000;
  border: 2px solid #f30d0d;
  border-collapse: collapse;
  border-radius: 5px;
  
  
}
 td, th{
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
  
}
#addButton {
  background-color: #4caf50; /* Cor de fundo verde */
  color: #ffffff; /* Cor do texto branco */
  border: none; /* Sem borda */
  padding: 10px 20px; /* Espaçamento interno */
  font-size: 16px; /* Tamanho da fonte */
  border-radius: 4px; /* Cantos arredondados */
  cursor: pointer; /* Cursor de mão ao passar o mouse */
}

#addButton:hover {
  background-color: #45a049; /* Cor de fundo verde escuro ao passar o mouse */
}

#addsvg{
  width: 30px;
  height: 30px;
  
}
.tableName{
  text-align: center;
  column-span: all;
}
.homeAnchor{
  text-decoration: none;
  margin-left: 35%;
}

#mainScreen {
  /* Estilos da tela principal */
  position: relative;
  z-index: 1;
}
#addScreen {
  /* Estilos da tela de adição */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.modal-content {
  /* Estilos do conteúdo do modal */
  background-color: rgba(255, 255, 255, 0.5); /* Cor de fundo com transparência */
  padding: 20px;
  border-radius: 5px;
  margin-top: 200px;
  height: 40%;
  backdrop-filter: blur(10px); /* Desfoque do plano de fundo */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra suave */
}


.addTable {
  /* Estilos da tabela */
  width: 96%;
  height: 150px;
  border-collapse: collapse;
  margin: auto;
}

.addTable th {
  padding: 10px;
  text-align: center;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
}

.addTable td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.addTable input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.addTable .tableName,.tableName {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #c93f3f;
  border: 1px solid #ddd;
  color: #fcfcfc;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.modal-content {
  position: relative; /* Para tornar o posicionamento absoluto do botão de fechar relativo ao modal */
  /* Resto dos estilos do conteúdo do modal */
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 5px;
  margin-top: 200px;
  height: 30%;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#saveButton {
  display: block;
  margin: 0 auto; /* Centralizar horizontalmente */
  margin-top: 20px;
  background-color: #4caf50; /* Cor de fundo verde */
  color: #ffffff; /* Cor do texto branco */
  border: none; /* Sem borda */
  padding: 10px 20px; /* Espaçamento interno */
  font-size: 16px; /* Tamanho da fonte */
  border-radius: 4px; /* Cantos arredondados */
  cursor: pointer; /* Cursor de mão ao passar o mouse */
}

#saveButton:hover {
  background-color: #45a049; /* Cor de fundo verde escuro ao passar o mouse */
}
.btn-remove {
  background-color: #f8d7da;
  color: #721c24;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #f5c6cb;
}

.btn-edit {
  background-color: #d1ecf1;
  color: #0c5460;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #bee5eb;
}
