{{>partials/header}}
<div class="buttons">
  <a href="home"><button class="navBtn" type="button">Agendar Consulta</button></a>
  <a href="pacientes"><button class="navBtn" type="button">Gerenciar Pacientes</button></a>
</div>
</div>
<section>
  <div class="main">
    <div id="addScreen" style="display:none;">
      <div class="modal-content">
        <table class="addTable" id="dataInputTable">
          <span class="close-button">X</span>
          <tr>
            <th colspan="9" class="tableName">Consultorios</th>
          </tr>
          <tr>
            <form id="consultorioForm" method="POST" action="consultorio">
              <th><input type="text" name="nome" placeholder="Nome" id="nome"></th>
              <th><input type="text" name="idEndereco" placeholder="idEndereco" id="idEndereco"></th>
              <th><input type="text" name="cep" placeholder="CEP" id="cep"></th>
              <th><input type="text" name="rua" placeholder="Rua" id="logradouro"></th>
              <th><input type="text" name="numero" placeholder="Número" id="numero"></th>
              <th><input type="text" name="bairro" placeholder="Bairro" id="bairro"></th>
              <th><input type="text" name="Cidade" placeholder="Cidade" id="localidade"></th>
              <th><input type="text" name="Estado" placeholder="Estado" id="uf"></th>
          </tr>
        </table>
        <button type="submit" id="saveButton">Salvar</button>
        </form>
      </div>
      
    </div>
    
    <div id="editScreen" style="display:none;">
      <div class="modal-content">
        <table class="addTable" id="editDataInputTable">
          <span class="close-button">X</span>
          <tr>
            <th colspan="9" class="tableName">Editar Consultório</th>
          </tr>
          <tr>
          
            <form id="editConsultorioForm" method="POST"  action="/consultorio/{{consultorioId}}/{{enderecoId}}" >
            <input type="hidden" name="_method" value="PUT">
              <input type="hidden" name="consultorioId" id="editConsultorioIdInput">
              <th>
                  <label for="editNomeInput">Nome</label>
                  <input type="text" name="nome" placeholder="Nome" id="editNomeInput">
                </th>
                <th><input type="text" name="idEndereco" placeholder="idEndereco" id="editIdEnderecoInput"></th>
                <th>
                  <label for="editCepInput">CEP</label>
                  <input type="text" name="cep" placeholder="CEP" id="editCepInput">
                </th>
                <th>
                  <label for="editRuaInput">Rua</label>
                  <input type="text" name="rua" placeholder="Rua" id="editRuaInput">
                </th>
                <th>
                  <label for="editNumeroInput">Número</label>
                  <input type="text" name="numero" placeholder="Número" id="editNumeroInput">
                </th>
                <th>
                  <label for="editBairroInput">Bairro</label>
                  <input type="text" name="bairro" placeholder="Bairro" id="editBairroInput">
                </th>
                <th>
                  <label for="editCidadeInput">Cidade</label>
                  <input type="text" name="cidade" placeholder="Cidade" id="editCidadeInput">
                </th>
                <th>
                  <label for="editEstadoInput">Estado</label>
                  <input type="text" name="estado" placeholder="Estado" id="editEstadoInput">
                </th>

          </tr>
        </table>
        <button type="submit" id="updateButton">Atualizar</button>
        </form>
      </div>
    </div>
    
    <table class="tabela" id="mainScreen">
      <tr>
        <th colspan="10" class="tableName">Consultorios</th>
      </tr>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>CEP</th>
        <th>Rua</th>
        <th>Número</th>
        <th>Bairro</th>
        <th>Cidade</th>
        <th>Estado</th>
        <td colspan="2"><button type="button" id="addButton">Adicionar</button></td>
      </tr>
      {{#consultorios}}
      <tr>
        <td>{{idConsultorio}}</td>
        <td>{{nome}}</td>
        {{#endereco}}
        <td>{{cep}}</td>
        <td>{{rua}}</td>
        <td>{{numero}}</td>
        <td>{{bairro}}</td>
        <td>{{cidade}}</td>
        <td>{{estado}}</td>
        <td><button type="button" class="btn-edit" data-id="{{idConsultorio}}" data-nome="{{nome}}" data-idendereco="{{idEndereco}}" data-cep="{{cep}}" data-rua="{{rua}}" data-numero="{{numero}}" data-bairro="{{bairro}}" data-cidade="{{cidade}}" data-estado="{{estado}}">Editar</button></td>

        <td><button type="button" class="btn-remove" data-id="{{idConsultorio}}" data-endereco="{{idEndereco}}">Remover</button></td>
      </tr>
      {{/endereco}}
      {{/consultorios}}
    </table>
  </div>
</section>
<script src="/scripts/consultorio.js"></script>
</body>
</html>
