{{>partials/header}}
<div class="buttons">
      <a href="consulta"><button class="navBtn" type="button">Agendar Consulta</button></a>
      
      <a href="pacientes"><button class="navBtn" type="button">Gerenciar Pacientes</button></a>
      <a href="consultorio"><button class="navBtn" type="button">Gerenciar Consultórios</button></a>
    
    </div>
  </div>
  <section>
    <div class="main">

    
      <table class="tabela">
        <tr>
          <th>Id Consulta</th>
          <th>Data</th>
          <th>Hora</th>
          <th>Tipo</th>
          <th>Status</th>
          <th>Id Pacientes</th>
          <th>Plano de Saúde</th>
          <th>Id Atendente</th>
          <th>Consultório Atendente</th>
          <th>Médico</th>
          <th>Consultório do Médico</th>
        </tr>
        {{#consultas}}
        <tr>
          <td>{{idConsulta}}</td>
          <td>{{data}}</td>
          <td>{{hora}}</td>
          <td>{{tipo}}</td>
          <td>{{status}}</td>
          <td>{{Paciente_idPaciente}}</td>
          <td>{{Paciente_PlanoSaude_idPlanoSaude}}</td>
          <td>{{Paciente_Endereco_idEndereco}}</td>
          <td>{{Atendente_idAtendente}}</td>
          <td>{{Atendente_Consultorio_idConsultorio}}</td>
          <td>{{Medico_idMedico}}</td>
        </tr>
        {{/consultas}}
      </table>
    </div>
  </section>

</body>
</html>
    